
body {
    text-align: center;
}

body{
    background-image: url("backG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	background-color: #e5e5e5;
}
body{
    color: #FFFFFF
}
